/* Font Families */
@font-face {
  font-family: "Glina Script";
  font-weight: 400;
  font-style: normal;
  src: url("./GlinaScript.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Whitenice";
  font-weight: 400;
  font-style: normal;
  src: url("./Whitenice.otf") format("opentype");
  font-display: swap;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}


.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.nunito-sans-variable {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

/* Font Styles */
h1 {
  font-family: "Pinyon Script", Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  margin: 0;

  // Si el tamaño de la pantalla es 651px o más
  @media screen and (min-width: 651px) {
    font-size: 8vw;
  }

  // Si el tamaño de la pantalla es menor 650px y mayor a 350px
  @media screen and (max-width: 650px) {
    font-size: 10vw;
  }
  // Si el tamaño de la pantalla es 350px o menos
    @media screen and (max-width: 350px) {
    font-size: 12vw;
  }
}

h2 {
  font-family: "Glina Script", 'Courier New', Courier, monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  margin: 0;
  
  // Si el tamaño de la pantalla es 651px o más
  @media screen and (min-width: 651px) {
    font-size: 6vw;
  }

  // Si el tamaño de la pantalla es menor 650px y mayor a 350px
  @media screen and (max-width: 650px) {
    font-size: 8vw;
  }
  // Si el tamaño de la pantalla es 350px o menos
    @media screen and (max-width: 350px) {
    font-size: 10vw;
  }
}


h3 {
  font-family: 'Caudex', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  margin: 0;
    
  // Si el tamaño de la pantalla es 651px o más
  @media screen and (min-width: 651px) {
    font-size: 3vw;
  }

  // Si el tamaño de la pantalla es menor 650px y mayor a 350px
  @media screen and (max-width: 650px) {
    font-size: 4vw;
  }
  // Si el tamaño de la pantalla es 350px o menos
    @media screen and (max-width: 350px) {
    font-size: 5vw;
  }
}

h4{
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
  margin: 0;
  
  // Si el tamaño de la pantalla es 651px o más
  @media screen and (min-width: 651px) {
    font-size: 3vw;
  }

  // Si el tamaño de la pantalla es menor 650px y mayor a 350px
  @media screen and (max-width: 650px) {
    font-size: 4vw;
  }
  // Si el tamaño de la pantalla es 350px o menos
    @media screen and (max-width: 350px) {
    font-size: 5vw;
  }
  
}

h5{
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-style: italic;
  line-height: 1;
  margin: 0;

  // Si el tamaño de la pantalla es 651px o más
  @media screen and (min-width: 651px) {
    font-size: 2vw;
  }

  // Si el tamaño de la pantalla es menor 650px y mayor a 350px
  @media screen and (max-width: 650px) {
    font-size: 3vw;
  }
  // Si el tamaño de la pantalla es 350px o menos
    @media screen and (max-width: 350px) {
    font-size: 4vw;
  }
}

h6{
  font-family: "Montserrat Alternates", Verdana, Tahoma, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
 margin: 0;

  // Si el tamaño de la pantalla es 800px o más
  @media screen and (min-width: 800px) {
    font-size: 2vw;
  }
  

  // Si el tamaño de la pantalla es menor 650px y mayor a 350px
  @media screen and (max-width: 650px) {
    font-size: 4vw;
  }
  // Si el tamaño de la pantalla es 350px o menos
    @media screen and (max-width: 350px) {
    font-size: 6vw;
  }
}

p {
  font-family: "Nunito Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;

  // Si el tamaño de la pantalla es 651px o más
  @media screen and (min-width: 651px) {
    font-size: 1.5vw;
  }

    // Si el tamaño de la pantalla es menor 750px y mayor a 650px
  @media screen and (max-width: 750px) {
    font-size: 1.75vw;
  }
  // Si el tamaño de la pantalla es 650px y mayor a 350px
  @media screen and (max-width: 650px) {
    font-size: 2vw;
  }
  // Si el tamaño de la pantalla es 350px o menos
    @media screen and (max-width: 350px) {
    font-size: 2.5vw;
  }

}