# Ejemplo de variables de entorno para Railway
PORT=3000
DB_HOST=tu_host_mysql
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_NAME=tu_basededatos
DB_PORT=3306
JWT_SECRET=tu_jwt_secret
EMAIL_HOST=tu_host_smtp
EMAIL_PORT=587
EMAIL_USER=tu_email
EMAIL_PASS=tu_email_password
